---
import Layout from '../layouts/Layout.astro';
import AboutHero from '../components/AboutHero.astro';
import Founder from '../components/Founder.astro';
import Team from '../components/Team.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="about">
	<main class="space-y-10 mb-20">
		<AboutHero/>
		<Founder/>
		<Team/>
		<CallToAction/>
	</main>
</Layout>