---
import Layout from '../layouts/Layout.astro';
import BlogHero from '../components/BlogHero.astro';
import Blog from '../components/Blog.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="blog">
	<main class="space-y-10 mb-20">
		<BlogHero/>
		<Blog/>
		<CallToAction/>
	</main>
</Layout>