---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import Features2 from '../components/Features2.astro';
import HomeHero from '../components/HomeHero.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="talk to me about tech">
	<main class="space-y-10 mb-20">
		<HomeHero/>
		<Features/>
		<Stats/>
		<Features2/>
		<Testimonials/>
		<CallToAction/>
	</main>
</Layout>