---
import Layout from '../layouts/Layout.astro';
import PastWorkHero from '../components/PastWorkHero.astro';
import Blogs from '../components/Blogs.astro';
import Websites from '../components/Websites.astro';
import Courses from '../components/Courses.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="talk to me about tech">
	<main class="space-y-10 mb-20">
		<PastWorkHero/>
		<Blogs/>
		<Websites/>
		<Courses/>
		<CallToAction/>
	</main>
</Layout>