---

---


<footer class="w-full bg-gray-100 py-16">
  <div class="md:px-12 lg:px-28">
    <div class="container m-auto space-y-6 text-gray-600">
      
      <div class="text-center">
        <span class="text-sm tracking-wide">
          a percentage of all proceeds is donated to <a class="text-bold text-primary" rel="noreferrer" target="_blank" href="https://www.tworabbitrescue.org">two rabbit rescue</a>
        </span>
      </div>

      <div class="m-auto flex w-max items-center justify-between space-x-4">
        <a href="mailto:info@talktomeabouttech.com" aria-label="send mail">
          <svg class="m-auto w-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
        </a>
        <a rel="noreferrer" target="_blank" href="https://www.linkedin.com/company/talk-to-me-about-tech" aria-label="linkedin">
          <svg class="m-auto w-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
        </a>
      </div>

      <div class="text-center">
        <span class="text-sm tracking-wide">
          copyright © talk to me about tech <span id="year"></span> | all rights reserved
        </span>
      </div>
    </div>
  </div>
</footer>