---
import Container from "./Container.astro";

---

<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">talk to me about tech</span>
          <img class="h-16 w-auto" src="/images/logo.png" alt="a tree that looks like it's made out of circuits, with a rabbit on either side">
        </a>
      </div>
      <div class="flex flex-row justify-between">
        <a href="#specialties" class="px-3 text-sm/6 font-semibold text-gray-900 transition hover:text-alternative">specialties</a>
        <a href="#services" class="px-3 text-sm/6 font-semibold text-gray-900 transition hover:text-alternative">services</a>
        <a href="#experience" class="px-3 text-sm/6 font-semibold text-gray-900 transition hover:text-alternative">experience</a>
        <a href="#testimonials" class="px-3 text-sm/6 font-semibold text-gray-900 transition hover:text-alternative">testimonials</a>
        <a href="mailto:info@talktomeabouttech.com" class="px-3 text-sm/6 font-semibold text-gray-900 transition hover:text-alternative">get in touch</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a rel="noreferrer" target="_blank" href="https://lets-talk-about-tech.neetocal.com/initial-consultation-call" class="text-sm/6 font-semibold text-gray-900 transition hover:text-info">schedule a consultation <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
  </header>