---
import Container from "./Container.astro"

---

<div id="blog" class="scroll-mt-16">
  <Container>
      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.unsplash.com/photo-1691085272761-eb72dc7dd3f5?q=80&w=3328&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Velocity with AI does not equal progress
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Blog</h4>
            <p class="mt-6 mb-8 text-gray-600">
              On cybersecurity, privacy, and legal risks of using AI as part of services or solutions.
            </p>
            <a class="inline-block" href="/blog/velocity-with-ai-does-not-equal-progress/">
              <span class="text-info">Read more</span>
            </a>
          </div>
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <a href="/blog/devrel-talks-promoting-a-technology-meetup/">
              <img src="https://images.pexels.com/photos/4015827/pexels-photo-4015827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
            </a>
          </div>
          <div class="mt-6 relative">
            <a href="/blog/devrel-talks-promoting-a-technology-meetup/">
              <h3 class="text-2xl font-semibold text-gray-800">
                DevRel Talks: Promoting a Technology Meetup
              </h3>
            </a>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">1/16/2025</h4>
            <p class="mt-6 mb-8 text-gray-600">
              For organizers of technology meetups, who need ideas on getting the word out.
            </p>
            <a class="inline-block" href="/blog/devrel-talks-promoting-a-technology-meetup/">
              <span class="text-info">Read more</span>
            </a>
          </div>
        </div>
        <!--
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.pexels.com/photos/25493288/pexels-photo-25493288/free-photo-of-budgie-murmeration.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Discussing DevRel, Open Source, & community
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Blog</h4>
            <p class="mt-6 mb-8 text-gray-600">
              Announcing the launch of the Talk to Me About Tech blog.
            </p>
            <a class="inline-block" href="/blog/discussing-devrel-open-source-and-community">
              <span class="text-info">Read more</span>
            </a>
          </div>
          -->
        </div>
      </div>
  </Container>
</div>