---
import Container from "./Container.astro"

---

<div id="pastwork" class="scroll-mt-16">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl">selected highlights of past work</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600">
          some examples of content created for customers over the years
        </p>
      </div>
      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://www.timescale.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fnpizagvkn99r%2F53QB0RMGlwX8kOZBVEs5kG%2F70c18fa80b5411608a655fbdc436bcc2%2Fimage-page-8.png%3Ffm%3Djpg%26fl%3Dprogressive&w=1920&q=75"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Understanding GROUP BY in PostgreSQL (With Examples)
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Blog</h4>
            <p class="mt-6 mb-8 text-gray-600">
              Technical walkthrough detailing how the GROUP BY SQL statement in PostgreSQL works from a developer's point of view.
            </p>
            <a class="inline-block" href="https://www.timescale.com/learn/understanding-group-by-in-postgresql-with-examples">
              <span class="text-info">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://platform3solutions.com/wp-content/uploads/2024/02/Data-migration.webp"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Key Strategies For A Successful Data Migration
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Blog</h4>
            <p class="mt-6 mb-8 text-gray-600">
              Marketing focused piece advising best practices for data migration while illustrating the company's services.
            </p>
            <a class="inline-block" href="https://platform3solutions.com/key-strategies-for-a-successful-data-migration/">
              <span class="text-info">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="https://images.pexels.com/photos/631317/pexels-photo-631317.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Community & Open Source: PostgreSQL’s Success
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Blog</h4>
            <p class="mt-6 mb-8 text-gray-600">
              Thought leadership article delving into the factors that established success for the world's leading open-source RDBMS.
            </p>
            <a class="inline-block" href="https://www.enterprisedb.com/blog/Postgres-Powered-Community-Open-Source">
              <span class="text-info">Read more</span>
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>