---
import Container from "./Container.astro"

---

<div id="website">
  <Container>
      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/etlelt.jpeg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Introduction to ETL and ELT in PostgreSQL
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Course</h4>
            <p class="mt-6 mb-8 text-gray-600">
              In this course, Sarah Conway provides a high-level overview of ETL (extract, transform, load) and ELT (extract, load, transform) processes in PostgreSQL.
            </p>
            <a class="inline-block" href="https://www.linkedin.com/learning/etl-and-elt-in-postgresql/">
              <span class="text-info">Watch the course</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/kubernetes.jpeg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Kubernetes: Monitoring with Prometheus
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Course</h4>
            <p class="mt-6 mb-8 text-gray-600">
              Instructor Sarah Conway explains monitoring basics, including key metrics to observe, before covering fundamentals and best practices for monitoring in Prometheus.
            </p>
            <a class="inline-block" href="https://www.linkedin.com/learning/kubernetes-monitoring-with-prometheus-24376824/">
              <span class="text-info">Watch the course</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/metacommands.jpeg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              Master Meta Commands in PostgreSQL
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Course</h4>
            <p class="mt-6 mb-8 text-gray-600">
              In this course, instructor Doug Ortiz provides a comprehensive overview of meta-commands and shows you how to start incorporating them into your everyday workflow.
            </p>
            <a class="inline-block" href="https://www.linkedin.com/learning/master-meta-commands-in-postgresql/meta-commands-for-analyzing-roles">
              <span class="text-info">Watch the course</span>
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>