---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300"></div>
    </div>
    <Container>
        <div class="relative pt-36 pb-24 ml-auto border-b border-gray-100">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 font-bold text-5xl md:text-6xl xl:text-7xl">talk to me <span class="text-primary">about tech</span></h1>
                <p class="mt-8 text-gray-700">
                  a developer relations (DevRel) agency specializing in helping you <strong>connect with your desired technical audience on any platform</strong>
                </p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">

                    <a
                      href="/#specialties"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary"
                        >what do we do?</span
                      >
                    </a>
                    <a
                        href="#experience"
                        class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                      >
                        <span class="relative text-base font-semibold text-white"
                          >what's devrel?</span
                        >
                      </a>
                </div>
                
            </div>
        </div>
    </Container>
</div>