---
import Container from "./Container.astro"

---

<div id="blog" class="scroll-mt-16">
  <Container>
      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8">
          <h2 class="text-3xl font-bold text-gray-800 md:text-4xl mb-12">meet <span class="text-primary">the team</span></h2>
          <p class="text-gray-600 my-auto">
            while we do work with a network of fabulous DevRel professionals, these are the primary folks you'll interact with besides the founder
          </p>
        </div>

        <div class="group p-6 sm:p-8">
          <div class="rounded-avatar bg-ui size-20 border p-0.5 shadow shadow-gray-950/5">
              <img class="aspect-square rounded-[calc(var(--avatar-radius)-2px)] object-cover" src="https://media.licdn.com/dms/image/v2/C4D03AQHtkjHQ84_GiQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1516271574720?e=1742428800&v=beta&t=S1ue4H343UPt9JX2SEwcmsB7HvzFlf7uO3M2-1jwKPY" alt="Doug Ortiz" height="420" width="420" loading="lazy" />
          </div>
          <span class="text-title mt-2 block text-sm font-bold text-alternative">Doug Ortiz</span>
          <span class="text-caption block text-xs">DevRel Associate</span>
          <a class="text-caption inline-block text-xs font-bold text-info transition hover:text-secondary" target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/doug-ortiz-illustris/">LinkedIn</span></a>
          <span class="inline-block text-xs">|</span>
          <a class="text-caption inline-block text-xs font-bold text-info transition hover:text-secondary" target="_blank" rel="noreferrer" href="https://www.youtube.com/@techbits-do">YouTube</span></a>
        </div>

        <div class="group p-6 sm:p-8">
          <div class="rounded-avatar bg-ui size-20 border p-0.5 shadow shadow-gray-950/5">
              <img class="aspect-square rounded-[calc(var(--avatar-radius)-2px)] object-cover" src="https://media.licdn.com/dms/image/v2/D4D03AQGrK0D4NiMemg/profile-displayphoto-shrink_400_400/B4DZO9ldLlGoAg-/0/1734052533328?e=1742428800&v=beta&t=GKlWaarvJaU28T5hp9LHVNe3jhfprYwtBuKKvwvXLvc" alt="Andrea Graves" height="420" width="420" loading="lazy" />
          </div>
          <span class="text-title mt-2 block text-sm font-bold text-alternative">Andrea Graves</span>
          <span class="text-caption block text-xs">Secretary</span>
          <a class="text-caption inline-block text-xs font-bold text-info transition hover:text-secondary" target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/andrea-graves-663088331/">LinkedIn</span></a>
          <span class="hidden inline-block text-xs">|</span>
        </div>

      </div>
  </Container>
</div>