---
import Container from "./Container.astro"

---

<div id="website">
  <Container>
      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/postgresql.png"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              postgresql.org
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Website</h4>
            <p class="mt-6 mb-8 text-gray-600">
              Redesigned and redeveloped the entire postgresql.org website using a Django & Python deployment on Git in 2018, migrating a prior legacy website built in 1996. Contributed content strategy and creation throughout.
            </p>
            <a class="inline-block" href="https://postgresql.org">
              <span class="text-info">Check it out</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/theopensourcecommunity.png"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              theopensource.community
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Website</h4>
            <p class="mt-6 mb-8 text-gray-600">
              Created the website & associated content in 2024 for a nonprofit (owned by Talk to Me About Tech) designed to bring together & uplift individual open source projects with the goal of improving developer relations.
            </p>
            <a class="inline-block" href="https://theopensource.community">
              <span class="text-info">Check it out</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/images/tworabbitrescue.png"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800">
              tworabbitrescue.org
            </h3>
            <h4 class="mt-2 uppercase text-sm font-bold text-alternative">Website</h4>
            <p class="mt-6 mb-8 text-gray-600">
              AstroJS, Tailwind CSS, NodeJS, and Vercel setup for a website designed for an animal nonprofit that's focused around rescuing rabbits. All content, design, and development completed by Talk to Me About Tech.
            </p>
            <a class="inline-block" href="https://tworabbitrescue.org">
              <span class="text-info">Check it out</span>
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>