---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://www.talktomeabouttech.com/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A developer relations agency specializing in marketing, content, advocacy, and community services at any level of engagement with your company to help you reach your desired technical audience.">
		<title>Talk to Me About Tech | A DevRel Agency</title>
		<meta property="og:title" content="Talk to Me About Tech | A DevRel Agency" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.talktomeabouttech.com" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image" content="https://talktomeabouttech.com/images/preview.png" />
		<meta property="og:description" content="A developer relations agency specializing in marketing, content, advocacy, and community services at any level of engagement with your company to help you reach your desired technical audience." />

		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white">
		<a class="hidden" rel="me" href="https://hachyderm.io/@talktomeabouttech">Mastodon</a>
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>